<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/static/images/food1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>조회수 1위</h3>
          <p>오늘의 조회수 1위 리뷰에 음식 사진입니다.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/static/images/food2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>조회수 2위</h3>
          <p>오늘의 조회수 2위 리뷰에 음식 사진입니다.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/static/images/food3.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>조회수 3위</h3>
          <p>오늘의 조회수 3위 리뷰에 음식 사진입니다.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<header th:replace="/tl/common/header :: header"></header>

<section th:replace="/tl/common/body :: body"></section>

<footer th:replace="/tl/common/footer :: footer"></footer>

<footer th:replace="/tl/layer-popup/login :: login"></footer>
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
