<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>FoodPlanner★</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/css/modern-business.css" rel="stylesheet">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="icon" href="/static/favicon.ico">

        <script type="text/javascript" src="/static/js/common.js"></script>
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    </head>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">FoodPlanner★</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-target="#modalLoginForm" data-toggle="modal">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pub/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pub/service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pub/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/pub/portfolio/1">1 Column Portfolio</a>
                        <a class="dropdown-item" href="/pub/portfolio/2">2 Column Portfolio</a>
                        <a class="dropdown-item" href="/pub/portfolio/3">3 Column Portfolio</a>
                        <a class="dropdown-item" href="/pub/portfolio/4">4 Column Portfolio</a>
                        <a class="dropdown-item" href="/pub/portfolio/item">Single Portfolio Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/pub/blog/home/1">Blog Home 1</a>
                        <a class="dropdown-item" href="/pub/blog/home/2">Blog Home 2</a>
                        <a class="dropdown-item" href="/pub/blog/post">Blog Post</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/pub/fullwidth">Full Width Page</a>
                        <a class="dropdown-item" href="/pub/sidebar">Sidebar Page</a>
                        <a class="dropdown-item" href="/pub/faq">FAQ</a>
                        <a class="dropdown-item" href="/errors/error">404</a>
                        <a class="dropdown-item" href="/pub/pricing">Pricing Table</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</html>
